

    ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 37px;

}

li {
    float: left;
}

li a {
    text-decoration: none;
    padding: 7px;
    /* background-color: coral;
    border: 1px solid black;
    border-radius: 5px; */
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

#spbtn {
    position: absolute;
    top: 34px;
    left: 1146px;
    padding: 8px;
    background-color: green;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
}

#spbtn:hover {
    background-color: red;
    color: yellow;
}

li a:hover {
    background-color: white;
    color: lightseagreen;
}

.sa:hover {
    background-color: white;
    color: lightseagreen;
}

.sa {
    background-color: white;

    padding: 7px;
    color: black;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 14px;
    font-size: 20px;
    border-radius: 8px;

}

.drop .s:hover {
    background-color: red;
    color: white;
}


.container {

    display: inline-block;

    margin-left: 10px;


}

.drop {
    padding: 5px;
    margin-top: 10px;


    display: none;
}


.container:hover .drop {
    display: block;
}

.drop .s {
    background-color: pink;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 40px;
}

.s:hover {
    background-color: blue;
    color: white;
}





.lb:hover {
    background-color: blue;
    color: red;
}

.lb {
    background-color: coral;
    border: 1px solid black;
    padding: 7px;
    color: white;
    font-weight: bold;


    border-radius: 8px;

}

.course {

    display: inline-block;
    margin-left: 470px;
    margin-top: 0;
    position: absolute;
    top: 30px;




}

.drop-down {
    padding: 5px;



    display: none;
}


.course:hover .drop-down {
    display: block;
}

.drop-down p {
    background-color: red;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.s:hover {
    background-color: blue;
    color: white;
}
.main-box{
    height: 100px;
    width: 100%;
    float: left;
    background-color: white;
    position: fixed;
    top: 10px;
    z-index: 999;
}



.box1 {
    height: 100px;
    width: 40%;
    background-color: white;
    color: lightseagreen;
    float: left;
    font-weight: bolder;


}

.box2 {
    margin-top: -20px;
    text-align: center;
}

.box3 {
    margin-top: -10px;
}

.sp {
    height: 100px;
    width: 60%;
    background-color: white;
    color: black;
    float: left;


}

.gallary{
    height: 250px;
    width: 100%;
    float: left;
    background-color: lightseagreen;
    position: absolute;
    top: 110px;
    text-align: center;
    color: white;
   

}
.kanif0 {
    position: absolute;
    top: 400px;
    height: 100px;
    background-color: white;
    width: 100%;
}
#lbtn {
    padding: 15px;
    background-color: green;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    margin-left: 230px;

}

#lbtn:hover {
    background-color: red;
    color: yellow;

}

#sakshup {
    padding: 15px;
    background-color: lightseagreen;
    color: white;
    border-radius: 8px;
    border: 1px solid black;


}

#sakshup:hover {
    background-color: red;
    color: yellow;

}
.pramod0 {
    height: 500px;
    width: 100%;
    float: left;
    background-color: white;
    position: absolute;
    top: 680px;
    padding: 3px;
}

.pramod {
    width: 29%;
    height: 200px;
    float: left;
    background-color: whitesmoke;
    margin-left: 30px;
    margin-top: 60px;

}









#sl {
    color: lightseagreen;
    background-color: white;
    border: none;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 25px;
}












#oppo {
    color: lightseagreen;
    font-size: 30px;
    margin-left: 20px;

}

#hr {
    background-color: lightseagreen;

}







#name,
#email,
#sname {
    width: 94%;
    padding: 13px;
    border: 1px solid black;
    border-radius: 8px;
}




#image {
    border-radius: 50%;
    border: 1px solid black;
}

#image:hover {
    opacity: 0.3;
}
.button{
    height:70px;
    width: 100%;
    float: left;
    background-color:white;
    position: absolute;
    top: 600px;
}
.button1{
    height: 100%;
    width: 35%;
   margin: auto;
    background-color: white;
   
   
}








.end {
    height: 400px;
    width: 100%;
    float: left;
    background-color: gray;
    position: absolute;
    top: 1300px;
    padding: 15px;

}

.end1 {
    height: 90%;
    width: 20%;
    float: left;
    background-color: gray;
    margin-left: 26px;
    margin-top: 25px;
    padding: 10px;
}

#f1 {
    width: 90%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 12px;
}
.sp-love{
    height: 200px;
    width: 100%;
    background-color: gray;
    position: absolute;
    top: 1700px;
    padding: 20px;
}
.drop .s:hover{
            background-color: red;
            border: 1px solid white;
           
        }
