
        ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 37px;

}

li {
    float: left;
}

li a {
    text-decoration: none;
    padding: 7px;
    /* background-color: coral;
    border: 1px solid black;
    border-radius: 5px; */
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

#spbtn {
    position: absolute;
    top: 34px;
    left: 1146px;
    padding: 8px;
    background-color: green;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
}

#spbtn:hover {
    background-color: red;
    color: yellow;
}

li a:hover {
    background-color: white;
    color: lightseagreen;
}

.sa:hover {
    background-color: white;
    color: lightseagreen;
}

.sa {
    background-color: white;

    padding: 7px;
    color: black;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 14px;
    font-size: 20px;
    border-radius: 8px;

}

.drop .s:hover {
    background-color: red;
    color: white;
}


.container {

    display: inline-block;

    margin-left: 10px;


}

.drop {
    padding: 5px;
    margin-top: 10px;


    display: none;
}


.container:hover .drop {
    display: block;
}

.drop .s {
    background-color: pink;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 40px;
}

.s:hover {
    background-color: blue;
    color: white;
}





.lb:hover {
    background-color: blue;
    color: red;
}

.lb {
    background-color: coral;
    border: 1px solid black;
    padding: 7px;
    color: white;
    font-weight: bold;


    border-radius: 8px;

}

.course {

    display: inline-block;
    margin-left: 470px;
    margin-top: 0;
    position: absolute;
    top: 30px;




}

.drop-down {
    padding: 5px;



    display: none;
}


.course:hover .drop-down {
    display: block;
}

.drop-down p {
    background-color: red;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.s:hover {
    background-color: blue;
    color: white;
}
.main-box{
    height: 100px;
    width: 100%;
    float: left;
    background-color: white;
    position: fixed;
    top: 10px;
    z-index: 999;
}



.box1 {
    height: 100px;
    width: 40%;
    background-color: white;
    color: lightseagreen;
    float: left;
    font-weight: bolder;


}

.box2 {
    margin-top: -20px;
    text-align: center;
}

.box3 {
    margin-top: -10px;
}

.sp {
    height: 100px;
    width: 60%;
    background-color: white;
    color: black;
    float: left;


}

.prama {
    background-color: lightseagreen;
    padding: 30px;
    float: left;
    position: absolute;
    height: 350px;
    width: 100%;
    position: absolute;
    top: 110px;



}

#lbtn {
    padding: 15px;
    background-color: green;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
    margin-left: 230px;

}

#lbtn:hover {
    background-color: red;
    color: yellow;

}
.sakshu0{
    height: 150px;
    width: 100%;
    float: left;
    position: absolute;
    top: 550px;
}

.sakshu {
    height: 150px;
    width: 30%;
    float: left;
    background-color: whitesmoke;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
    color: black;
}

.sakshu1 {
    height: 100%;
    width: 30%;
    float: left;

}

.sakshu2 {
    height: 100%;
    width: 70%;
    float: left;


}

.p0 {
    height: 600px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 1000px;
}

.p1 {
    height: 100%;
    width: 30%;
    float: left;

    margin-left: 30px;

}

.p2 {
    height: 50%;
    width: 60%;
    float: left;
    margin-left: 30px;



}

.p3 {
    height: 50%;
    width: 60%;
    float: left;

    margin-left: 30px;

}

.p31 {
    height: 100%;
    width: 50%;
    float: left;

}

.p32 {
    height: 100%;
    width: 50%;
    float: left;

}

#sl {
    color: lightseagreen;
    background-color: white;
    border: none;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 25px;
}

.kanif0 {
    position: absolute;
    top: 1650px;
    height: 100px;
    background-color: white;
    width: 100%;
}

.pramod0 {
    height: 370px;
    width: 100%;
    float: left;
    background-color: white;
    position: absolute;
    top: 1790px;
    padding: 3px;
}

.pramod {
    width: 29%;
    height: 100%;
    float: left;
    background-color: whitesmoke;
    margin-left: 25px;
    margin-top: 20px;

}

.pramod1 {
    height: 280px;
    width: 100%;
    float: left;
    /* background-color: blue; */
    position: absolute;
    top: 2180px;
    padding: 3px;


}

.pramod2 {
    width: 29%;
    height: 100%;
    float: left;
    /* background-color:green; */
    margin-left: 25px;



}

.pramod3 {
    height: 100%;
    width: 46.7%;
    float: left;
    background-color: whitesmoke;
    padding: 6px;

}

.pramod4 {
    height: 100%;
    width: 46.7%;
    float: left;
    background-color: whitesmoke;
    padding: 6px;


}

#oppo {
    color: lightseagreen;
    font-size: 30px;
    margin-left: 20px;

}

#hr {
    background-color: lightseagreen;

}

.book {
    height: 400px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 2570px;


}

.book1 {
    height: 100%;
    width: 45%;

    float: left;
    margin-left: 50px;
    padding: 15px;
}

.book2 {
    height: 100%;
    width: 35%;
    background-color: lightseagreen;
    float: left;
    margin-left: 50px;
    padding: 15px;
}
.drop .s:hover{
            background-color: red;
            border: 1px solid white;
           
        }

#name,
#email,
#sname {
    width: 94%;
    padding: 13px;
    border: 1px solid black;
    border-radius: 8px;
}

.vaishu {
    height: 150px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 3050px;
    padding: 10px;
}

.vaishu0 {
    height: 250px;
    width: 100%;
    background-color: white;
    position: absolute;
    top:3260px ;
}

.vaishu1 {
    height: 100%;
    width: 21%;
    float: left;
    background-color: lightseagreen;
    margin-left: 40px;
    border-radius: 50%;
    margin-top: 15px;
}

#image {
    border-radius: 50%;
    border: 1px solid black;
}

#image:hover {
    opacity: 0.3;
}

.test {
    height: 200px;
    width: 100%;
    float: left;
    background-color: white;
    position: absolute;
    top:3670px;

}

.carocel {
    height: 150px;
    width: 100%;
    float: left;
    background-color: white;
    position: absolute;
    top: 3900px;

}

.carocel0 {
    width: 30%;
    height: 100%;
    float: left;
    background-color: whitesmoke;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;

}

.carocel1 {
    height: 150px;
    width: 100%;
    float: left;
    background-color: white;
    position: absolute;
    top:4050px;

}

.carocel2 {
    width: 30%;
    height: 100%;
    float: left;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;

}

.blog {
    height: 200px;
    width: 100%;
    float: left;
    background-color: white;
    position: absolute;
    top: 4200px;
    padding: 20px;

}

.blog0 {
    height: 500px;
    width: 100%;
    float: left;
    background-color: white;
    position: absolute;
    top:4460px;

}

.blog1 {
    width: 27%;
    height: 100%;
    float: left;
    background-color: whitesmoke;
    margin-left: 39px;
    padding: 10px;

}

.end {
    height: 400px;
    width: 100%;
    float: left;
    background-color: gray;
    position: absolute;
    top: 5050px;
    padding: 15px;

}

.end1 {
    height: 90%;
    width: 20%;
    float: left;
    background-color: gray;
    margin-left: 26px;
    margin-top: 25px;
    padding: 10px;
}

#f1 {
    width: 90%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 12px;
}
.sp-love{
    height: 200px;
    width: 100%;
    background-color: gray;
    position: absolute;
    top: 5470px;
    padding: 20px;
}